body ul {
    left: 4.75% !important;
    top: 170px !important;
    width: calc(90% + 7px);
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgba(0, 0, 0, 0); */
    padding: 2px;
    vertical-align: top;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    /* margin-top: 0; */
    padding: 0;
}